
body {
  font-family: "Inconsolata", sans-serif;
}

#navigation-shell {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 35px;
  height: 40px;
  position: relative;
  line-height: 100%;
}

#navigation-buttons-shell {
  width: 50%;
  height: 100%;
  float: right;
  display: inline-block;
}

#title-name {
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  padding: 0px;
}

#title-name-holder {
  width: 200px;
  float: left;
}

.text-vertical-center-holder {
  width: 100%;
  height: 100%;
  line-height: 100%;
}

.navigation-button {
  margin-top: 10px;
  display: inline-block;
  font-size: 20px;
  float: right;
  width: auto;
}

.navigation-button-selected {
  margin-top: 10px;
  display: inline-block;
  font-size: 20px;
  float: right;
  width: auto;
  color: white;
  background-color: black;
}

.navigation-button:hover {
  background-color: black;
  color: white;
  cursor: grab;
}

#nav-button-marright {
  margin-right: 45px;
}

#portfolio-shell {
  background-color: white;
  width: 250px;
  height: 640px;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: inline-block;
  float: left;
}

#pitches-shell {
  background-color: white;
  height: 640px;
  width: calc(100% - 350px);
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: inline-block;
  position: relative;
}

#home-body-shell {
  width: 100%;
  height: 700px;
  position: relative;
}

#portfolio-title {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
}

.portfolio-component {
  width: 90%;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

#portfolio-component-martop {
  margin-top: 20px;
}

.portfolio-component-name {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}

.portfolio-component-information {
  font-size: 14px;
  margin-top: -13px;
  margin-left: 17px;
  display: block;
  color: grey;
}
